name: Golangci-lint
on:
  push:
    branches: [dev, release/**]
  pull_request:
    branches: [main, dev, release/**]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'
        
    - name: Install golangci-lint
      run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
      
    - name: Run golangci-lint
      run: golangci-lint run --timeout=5m ./...
